//Variables

$color-backgrond: #ffffff;
$color-backgrond-auxiliar: #f9f9f9;
$color-base: #160f41;
$color-accent: #d2006e;
$border-color: #898989;

$text-color-primary: #121212;
$text-color-secondary: #717171;
$text-color-link: #0f62fe;

// $color-primary: #D2006E;
// $color-secondary : #160F41;
// $color-gray-2: #877FAC;
// $color-gray-03: #CFCCDE;
// $light-blue:#F9FAFB;
// $amex-blue:#1A73E8;

// $color-blue:#453F67;
// $color-gray-6:#F8F7F9;
// $color-gray-5:#F3F3F5;
// $color-gray-3:#8A869F;
// $color-gray-white: #E8E8E8;
// $color-grayscale: #D0CFD9;
// $color-magenta-5:#D486C8;
// $color-purple:#B0B8E9;

// $text-font-size-subtitle:12px;
