@import "global";

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 0.75rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4063rem;
    border-radius: 3.125rem;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    text-decoration: none;
    background-color: $color-background;
    color: $color-accent;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
    &.plus:after {
        border-style: solid;
    border-width: 2px 2px 0px 0px;
    content: "";
    display: inline-block;
    height: 10px;
    left: 0px;
    position: relative;
    top: 1px;
    transform: rotate(45deg);
    vertical-align: top;
    width: 10px;
    border-radius: 2px;
    }

    &.primary {
        background-color: $color-accent;
        color: $color-background;
        &:hover {
            background-color: $color-accent-hover;
        }
    }
    &.secondary {
        color: $color-accent;
        border: 0.0625rem solid $color-accent;
        ´ &:hover {
            border-color: $color-accent-hover;
            color: $color-accent-hover;
        }
    }

    &.link {
        color: $text-color-link;
        border: none;
        padding-left: 0;
    }
}

input[type="submit"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4063rem;
    border-radius: 0.25rem;
    background-color: $color-accent;
    color: $color-background;
    border: none;
}




// .bg-button {
//     height: 5.4rem;
//     padding: 0 2rem;
//     display: inline-flex;
//     clear: both;
//     align-items: center;
//     justify-content: center;
//     margin-left: -1rem;
//     position: relative;
//     overflow: hidden;
//     font-size: 1.8rem;
//     text-decoration: none;
//     min-width: 15rem;
//     outline: none;
//     border: none;

//     &.bg-primary {
//         color: #fff;
//         transition: all 300ms;
//         background-color: $color-accent;
//         border-radius: 3rem;
//         margin-bottom: 1rem;

//         @include respond(m) {
//             display: inline-flex;
//             margin-right: 1rem;
//             margin-bottom: 0;
//         }

//         &:hover {
//             text-decoration: none;
//             color: #fff;
//             background-color: $color-base;
//         }
//     }

//     &.bg-secondary {
//         color: $color-accent;
//         background-color: #fff;
//         transition: all 300ms;
//         border: 1px solid $color-accent;
//         border-radius: 3rem;
//         padding: 1rem 4rem;

//         @include respond(m) {
//             display: inline-flex;
//         }

//         &:hover {
//             text-decoration: none;
//             background-color: $color-accent;
//             color: #fff;
//         }
//     }

//     &.bg-tertiary {
//         color: white;
//         background-color: #1a73e8;
//         transition: all 300ms;
//         border: 1px solid #1a73e8;
//         border-radius: 3rem;
//         padding: 1rem 4rem;

//         @include respond(m) {
//             display: inline-flex;
//         }

//         &:hover {
//             text-decoration: none;
//             background-color: #1a73e8;
//             color: #fff;
//         }
//     }

//     &:disabled,
//     &:disabled:hover {
//         background-color: #eee;
//     }
// }
