html {
    font-size: 62.5%;
    font-size: 16px;
    &.overflow {
        height: 100%;
        overflow: hidden !important;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Nunito sans" !important;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
}
@import "_global";
@import "themes";
@import "typography";
@import "buttons";
@import "cards";
@import "table";
@import "404";
@import "ie";
@import "flexbox/main.scss";
