.magenta,
.amex-blue,
.overlay-magenta {
  h1,
  h2,
  h3 {
    color: #fff;
  }

  a {
    color: #fff;
    &:hover {
      color: $color-base;
    }
  }

  p {
    color: #fff;
  }

  h4 {
    color: rgba(#fff, 0.5);

    a {
      color: rgba(#fff, 0.5);

      &:hover {
        color: $color-base;
      }
    }
  }

  .bg-button {
    &.bg-secondary {
      border: #fff 1px solid;
      color: $color-accent;
      &:hover {
        background-color: $color-base;
        border: $color-base 1px solid !important;
        color: #fff;
      }
    }
  }
}

.magenta {
  .bg-button {
    &.bg-primary,
    &.bg-secondary {
      border: #fff 1px solid;
      color: $color-accent;
      background-color: #fff;

      &:hover {
        color: $color-accent;
        background-color: #fff;
      }
    }
  }
}

.dark-blue {
  h1,
  h2,
  h3 {
    color: #fff;
  }

  a {
    color: #fff;
    &:hover {
      color: $color-base;
    }
  }

  p {
    color: #fff;
  }

  h4 {
    color: rgba(#fff, 0.5);

    a {
      color: rgba(#fff, 0.5);

      &:hover {
        color: $color-base;
      }
    }
  }
  a {
    color: #fff;
    &:hover {
      color: $color-accent;
    }
  }
  .bg-button {
    &.bg-secondary {
      color: #fff;
      border: $color-accent 1px solid;
      background-color: $color-accent;
      &:hover {
        border: 1px solid #fff;
        color: $color-accent;
        background-color: #fff;
      }
    }
  }
}

.no-filter {
  h1,
  h2,
  h3 {
    color: #fff;
  }

  a {
    color: #fff;
    &:hover {
      color: $color-base;
    }
  }

  p {
    color: #fff;
  }

  h4 {
    color: rgba(#fff, 0.5);

    a {
      color: rgba(#fff, 0.5);

      &:hover {
        color: $color-base;
      }
    }
  }
  a {
    color: #fff;
    &:hover {
      color: $color-accent;
    }
  }
  .bg-button {
    &.bg-secondary {
      color: #fff;
      border: $color-accent 1px solid;
      background-color: $color-accent;
      &:hover {
        border: 1px solid #fff;
        color: $color-accent;
        background-color: #fff;
      }
    }
  }
}
