$color-background: #ffffff;
$color-base: #160f41;
$color-accent: #d2006e;

$text-color-primary: #121212;
$text-color-secondary: #717171;
$text-color-link: #0f62fe;

$color-backgrond-auxiliar: #f9f9f9;
$color-border: #898989;

$color-accent-hover: #bd0063;

.color-accent {
    color: $color-accent;
}

.color-base {
    color: $color-base;
}

.text-color-secondary {
    color: $text-color-secondary;
}
